@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
    list-style: none;
    text-decoration: none;
    }

nav {
    background-color: #E5F4FB;
    min-height: 100px;
    padding: 30px 150px 0px 150px;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nav {
    display: flex;
}

.logo_nav img {
    width: 150px;
    height: 84px;
}

.links {
    display: flex;
    align-items: center;
}


.links li {
    margin:0px 15px 0px 15px;

}

.links li a {
    font-weight: bold;
    color: #707273;
    padding: 7px;
}

.links li a:hover
{
    border-bottom: 2px solid #A956A8;
}

.login-btn {
    border-radius: 50px;
}
.login-btn {
    background-color: #ffffff;
    color: #707273;
    text-align: center;
    font-weight:bold;
    width: 100px;
    padding:7px 25px 7px 25px;
}

.login-btn:hover {
    color: #01AEEF;
    border: 2px solid #A956A8;
}

header {
    background-color:#E5F4FB;
    background-image: url("drive-download-20240609T215231Z-001/waves.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    max-width:1920px;
    min-height: 860px;
    display:flex;   
    justify-content: space-between;
    padding:0px 200px;
    border-radius:0 0 90% 50%;
}

.hero-text-container {
    max-width: 50%;
    padding: 300px 0px 0px 0px;
}


.hero-text-container h1 {
    color: #5A6970;
    font-size: 4rem;
    font-weight: 700;
}

span {
    color: #7D3C8E;
}

.hero-text-container p {
    color: #707273;
    font-size: 1.8rem;
}

.hero-img-container {
    /* background-color: aqua; */
    position: relative;
    width: 50%;
}

.hero-img-container img {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.man-img {
    height: auto;
    width: 300px;
    right: 200px;
    top: 30%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.landing {
    width: 100%;
    height: auto;
    top: 40%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.clouds {
    top: 370px;
    right: 0px;
    top: 55%;
    left: 70%;
    transform: translate(-50%,-50%);

}

.waves {
    top: 80%;
    left: 0%;
    transform: translate(-50%,-50%);
}

.mid-sec-1 {
    min-height: 100vh;
    background-image: url("./drive-download-20240609T215231Z-001/second_section_.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size:1200px;
    padding: 0px 150px;
    position: relative;
}

.mid-sec-1 h2 {
    font-size: 30px;
    font-weight: 800;
    color: #878787;
    text-transform: capitalize;
}

.mid-sec-1 p {
    font-size: 20px;
    font-weight: 500;
    color: #878787;
}


.top-left-div {
    width: 430px;
    position: absolute;
    text-align: center;
}

.center-div {
    width: 430px;
    position: absolute;
    top:27%;
    left: 35%;
    text-align: center;
}

.bottom-right-div {
    width: 430px;
    position: absolute;
    top:60%;
    left: 60%;
    text-align: center;
}

.bottom-left-div {
    position: absolute;
    top:70%;
    left: 10%;
    text-align: center;
}

.bottom-left-div-2 {
    position:relative;
}

.bottom-left-div-2 h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left-div-2 p {
    line-height: 0px;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 40%;
    left: 39%;
    transform: translate(-50%, -50%);
}


.mid-sec-2 {
    height: 75vh;
    margin-top:270px;
    padding: 0 200px;
    position: relative;
}
    
.last-sec-img {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.last-sec-text-container{
    width: 30%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last-sec-text-container h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #878787;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.last-sec-text-container p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #878787;
}

footer {
    height: 70vh;
    background-image: url("drive-download-20240609T215231Z-001/Group\ 1131.png");
    background-position:bottom bottom;
    background-size: auto;
    position: relative;
}

.app-stores {
    position: absolute;
    top: 65%;
    left: 10%;
    display:flex;
    gap: 20px;
}

.apple {
    background-color: azure;
    font-size: small;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    gap: 20px;
}

.social-icons {
    position: absolute;
    top: 78%;
    left: 10%;
    display:flex;
    gap: 35px;
}

.social-icons i {
    font-size: 40px;
    color: white;
}

.footerlinks {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 88%;
    left: 10%;
    display:flex;
    gap: 35px;
}

.footerlinks li a {
    color: #ececec;
    font-size: 25px;

}

 li a:hover {
    color:#01AEEF;
}


.right-sec {
    position: absolute;
    right: 35px;
    top: 146px;
}

.right-sec img {
    width: 800px;
}









/* media quiry for nav */
@media screen and (max-width:1000px) {
    nav {
        padding: 15px 40px 0px 40px;
    }
    .logo_nav img {
        width: 120px;
        height: 60px;
    }
    .links li {
        margin:0px 5px 0px 5px;

    }

}



@media screen and (max-width:667px) {
    nav {
        height: 80px;
        padding: 30px 150px 0px 150px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .links {
        display: none;
    }

}


@media screen and (max-width:520px) {
    nav {
        height: 80px;
        padding: 30px 150px 0px 150px;
        width: 100%;
        display: block;
        justify-content: space-around;
        align-items: center;
    }
    
    .links {
        display: none;
    }

    .logo_nav {
        display: flex;
        flex-direction: column;
    }
    .logo_nav img {
        display: block;
        justify-content: center;
        align-items: center;
    }
}
/* media for  */ 



